<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Object-oriented Programming</title>
    <link href="/images/MiC 흰색 로고.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/styles.css?v=1.0">
</head>
<body>
    <form action="/home" method="post">
        <div class="box2" style="min-height: max-content; margin-top: 0px;">
            <input type="submit" class="topnv" value="Object-oriented Programming and Practice">
        </div>
    </form>
    <div style="text-align: right; margin-top: 10px; margin-right: 20px;">
        <span class="jp" th:if="${username != null}" th:text="${username}"></span>
        <a class="ip" style="width: 100px;" th:if="${username != null}" href="/profile">Profile</a>
        <a class="ip" style="width: 100px;" th:if="${username != null}" method="Get" href="/logout">Logout</a>
        
        <form th:if="${username == null}" class = "rl" action="/movelogin" method="post">
            <input class="ip" type="submit" value="Login">
        </form>
        <form th:if="${username == null}" class = "rl" action="/moveregister" method="post">
            <input class="ip" type="submit" value="Register">
        </form>
    </div>
    <hr style="height: 3px; background-color: gray">
    <div style="text-align: center;">
        <span class="title" style="border: none; color: blue;">Contest List</span>
        <li style="list-style-type: none;" th:each="contest : ${contests}">
            <form action="/moveopencontest" method="post">
                <input class="button" type="submit" id="contest" name="contest" th:value="${contest}">
            </form>
        </li>
        <form action="/movemakecontest" method="post" th:if="${authority == '3' or authority == '4' or authority == '5'}">
            <button type="submit" class="plus" style="margin-left: 630px;">Contest addition</button>
        </form>
        <span style="font-size: 20px; color: red;" th:if="${admin != null}" th:text="${admin}"></span>
    </div>
</body>
</html>