<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>profile</title>
    <link href="/images/MiC 흰색 로고.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <form action="/home" method="post">
        <div class="box2" style="min-height: max-content; margin-top: 0px;">
            <input type="submit" class="topnv" value="Object-oriented Programming and Practice">
        </div>
    </form>
    <div class="container2">
        <div class="left">
            <form action="/home" method="get">
                <button class="ip" style="width: 100px;">Back</button>
            </form>
        </div>
        <div class="right">
            <span class="jp" th:if="${username != null}" th:text="${username}"></span>
            <a class="ip" style="width: 100px;" th:if="${username != null}" href="/profile">Profile</a>
            <a class="ip" style="width: 100px;" th:if="${username != null}" href="/logout">Logout</a>
            
            <form th:if="${username == null}" class = "rl" action="/movelogin" method="post">
                <input class="ip" type="submit" value="Login">
            </form>
            <form th:if="${username == null}" class = "rl" action="/moveregister" method="post">
                <input class="ip" type="submit" value="Register">
            </form>
        </div>
    </div>
    <hr style="height: 3px; background-color: gray">
    <div class="box2" style="margin-top: 0px;">
        <div class="formbox" style="margin-top: -350px;">
            <form id="multiActionForm" method="post">
                <div class="container" style="width: 400px;">
                    <h1>User Profile</h1>
                    <hr class = "hh">
                    <div class="line">
                        <div class="label-group">
                            <span class="label">N</span>
                            <span class="label">a</span>
                            <span class="label">m</span>
                            <span class="label">e:</span>
                        </div>
                        <span class="box" th:if="${username != null}" th:text="${username}"></span>
                    </div>
                    <hr class = "hh">
                    <div class="line">
                        <div class="label-group">
                            <span class="label">I</span>
                            <span class="label">D:</span>
                        </div>
                        <span class="box" th:if="${userid != null}" th:text="${userid}"></span>
                    </div>
                    <hr class = "hh">
                    <div class="line">
                        <div class="label-group">
                            <span class="label">P</span>
                            <span class="label">h</span>
                            <span class="label">o</span>
                            <span class="label">n</span>
                            <span class="label">e</span>
                            <span class="label"> </span>
                            <span class="label">N</span>
                            <span class="label">u</span>
                            <span class="label">m</span>
                            <span class="label">b</span>
                            <span class="label">e</span>
                            <span class="label">r:</span>
                        </div>
                        <span class="box" th:if="${usertell != null}" th:text="${usertell}"></span>
                    </div>
                    <hr class = "hh">
                    <div class="line">
                        <div class="label-group">
                            <span class="label">A</span>
                            <span class="label">d</span>
                            <span class="label">m</span>
                            <span class="label">i</span>
                            <span class="label">n</span>
                            <span class="label"> </span>
                            <span class="label">A</span>
                            <span class="label">u</span>
                            <span class="label">t</span>
                            <span class="label">h</span>
                            <span class="label">o</span>
                            <span class="label">r</span>
                            <span class="label">i</span>
                            <span class="label">t</span>
                            <span class="label">y:</span>
                        </div>
                        <span class="box" th:if="${authority != null}" th:text="${authority}"></span>
                    </div>
                    <hr class = "hh">
                </div>
                <hr class = "hh">
                <input type="hidden" name="selectAuthority" th:value="${authority}">
                <input type="hidden" name="username" th:value="${username}">
                <button class="submit" style="margin-right:10px" type="submit" name="action" value="action1">OK</button>
                <button class="submit" style="margin-right:10px" type="submit" name="action" value="action2">change password</button>
                <button th:if="${authority == '5'}" class="submit" type="submit" name="action" value="action3">user management</button>
                <script>
                    document.getElementById('multiActionForm').addEventListener('submit', function(event) {
                        const clickedButton = event.submitter;
                        if (clickedButton) {
                            if (clickedButton.value === 'action1') {
                                this.action = "/home";
                            } else if (clickedButton.value === 'action2') {
                                this.action = '/movechangepassword';
                            } else if (clickedButton.value === 'action3') {
                                this.action = '/moveusers;';
                            }
                        }
                    });
                </script>
                <hr class = "hh">
            </form>
        </div>
    </div>
</body>
</html>