<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>register</title>
    <link href="/images/MiC 흰색 로고.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <form action="/home" method="post">
        <div class="box2" style="min-height: max-content; margin-top: 0px;">
            <input type="submit" class="topnv" value="Object-oriented Programming and Practice">
        </div>
    </form>
    <div class="box2">
        <div class="formbox">
            <form action = "/register" method="post">
                <div class="container">
                    <h1>Register</h1>
                    <hr class = "hh">
                    <div th:if="${error}" class="error-message">
                        <p th:text="${error}"></p>
                    </div>
                    <div class="line">
                        <div class="label-group">
                            <span class="label">N</span>
                            <span class="label">a</span>
                            <span class="label">m</span>
                            <span class="label">e:</span>
                        </div>
                        <input class="input-field" type="text" id="username" name="username" required>
                    </div>
                    <hr class = "hh">
                    <div class="line">
                        <div class="label-group">
                            <span class="label">I</span>
                            <span class="label">D:</span>
                        </div>
                        <input class="input-field" type="text" id="ID" name="ID" required>
                    </div>
                    <hr class = "hh">
                    <div class="line">
                        <div class="label-group">
                            <span class="label">P</span>
                            <span class="label">a</span>
                            <span class="label">s</span>
                            <span class="label">s</span>
                            <span class="label">w</span>
                            <span class="label">o</span>
                            <span class="label">r</span>
                            <span class="label">d:</span>
                        </div>
                        <input class="input-field" type="password" id="password" name="password" required>
                    </div>
                    <hr class = "hh">
                    <div class="line">
                        <div class="label-group">
                            <span class="label">C</span>
                            <span class="label">h</span>
                            <span class="label">e</span>
                            <span class="label">c</span>
                            <span class="label">k</span>
                            <span class="label"> </span>
                            <span class="label">P</span>
                            <span class="label">a</span>
                            <span class="label">s</span>
                            <span class="label">s</span>
                            <span class="label">w</span>
                            <span class="label">o</span>
                            <span class="label">r</span>
                            <span class="label">d:</span>
                        </div>
                        <input class="input-field" type="password" id="password" name="password2" required>
                    </div>
                    <hr class = "hh">
                    <div class="line">
                        <div class="label-group">
                            <span class="label">P</span>
                            <span class="label">h</span>
                            <span class="label">o</span>
                            <span class="label">n</span>
                            <span class="label">e</span>
                            <span class="label"> </span>
                            <span class="label">N</span>
                            <span class="label">u</span>
                            <span class="label">m</span>
                            <span class="label">b</span>
                            <span class="label">e</span>
                            <span class="label">r:</span>
                        </div>
                        <input class="input-field" type="text" id="phoneNumber" name="phoneNumber" required>
                    </div>
                </div>
                <hr class = "hh">
                <input class="submit" type="submit" value="Register">
                <hr class = "hh">
            </form>
        </div>
    </div>
</body>
</html>